:host {
  display: block;
}

.image {
  display: block;
  width: 224px;
  height: 224px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 24px;
}

.email {
  color: var(--text-accent);
  font-weight: bold;
}

.indended {
  padding-left: 24px;
}

.titles {
  margin-bottom: 24px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-secondary);
}
