:host {
  display: block;
}

.image {
  display: block;
  width: 224px;
  height: 224px;
  object-fit: cover;
  object-position: top;
}

.email {
  margin-bottom: 4px;
  color: var(--text-accent);
  font-size: 0.8rem;
  font-weight: bold;
}
