:root {
  --main-bg: #ffffff;
  --text-primary: #7c8185;
  --text-secondary: #264863;
  --text-accent: #58a3cc;
  --max-content-width: 752px;
  --font-family: Arial, Helvetica, sans-serif;
  --font-size: 12px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
}

body {
  margin: 0;
  background-color: var(--main-bg);
  color: var(--text-primary);
  font-size: var(--font-size);
  line-height: 1.4;
}

.container {
  max-width: var(--max-content-width);
  padding: 0 8px;
}

@media (min-width: 721px) {
  .container {
    padding: 0;
    max-width: var(--max-content-width);
  }
}
